.oyster-main-layout {
  .oyster-layout-container {
    padding: 0;

    .oyster-layout-content-wrapper {
      padding: 0 12px;

      .oyster-layout-content {
        background: white;
        min-height: 100%;
      }
    }
  }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .oyster-main-layout {
    .oyster-layout-container {
      padding: 0 24px 24px;

      .oyster-layout-content-wrapper {
        padding: 0 30px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}